

<div class="container">

  <div class="forms-container">
    <div class="success-checkmark" style="margin: 40%;" *ngIf="successflag">
      <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
      </div>
    </div>
  <div class="loader" style="margin: 40%;" *ngIf="!disableloader && !successflag">

  </div>
    <div class="signin-signup">
      <form action="" class="sign-in-form" *ngIf="disableloader">

        <!-- <h2 class="title">Sign in</h2> -->

        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            type="text"
            placeholder="famous food name"
            [(ngModel)]="postfoodetails.FamousFood"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="input-field">
          <i class="fas fa-camera"></i>
          <input
            type="tel"
            placeholder="Price"
            [(ngModel)]="postfoodetails.Price"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <!-- <input type="text" placeholder="Select Category" /> -->
          <select
            #mySelect
            name="selectedQuantity"
            id="aantal"
            class="dropdownUI"
            (change)="bindcategoryid(mySelect.value)"
          >
            <option
              *ngFor="let categorydetail of categorydetails"
              [value]="categorydetail.categoryId"
            >
              {{ categorydetail.categoryName }}
            </option>
          </select>
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            type="text"
            placeholder="ShopName"
            [(ngModel)]="postfoodetails.ShopName"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            type="text"
            placeholder="Brief about the Food"
            [(ngModel)]="postfoodetails.FoodDescription"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            type="text"
            placeholder="AreaName"
            [(ngModel)]="postfoodetails.LocationName"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <input
          id="geolocation"
          type="submit"
          value="get location"
          class="btn solid"
          style="max-width: 380px; width: 100%"
          (click)="getLocation()"
        />
        <ngx-dropzone (change)="onSelect($event)" class="dropzone">
          <ngx-dropzone-label>Upload images</ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngFor="let f of files"
            [removable]="true"
            (removed)="onRemove(f)"
            (change)="uploadFiles(file.files)"
          >
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
        <input
          type="submit"
          value="Post"
          class="btn solid"
          (click)="uploadfooddetails()"
        />
      </form>
    </div>
  </div>


</div>
