<form class="example-form">
  <input
    type="text"
    placeholder="Search for a street"
    [formControl]="control"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let location of filteredStreets | async"
      [value]="location"
    >
      {{ location }}
    </mat-option>
  </mat-autocomplete>
</form>

<button (click)="navigate()">Search</button>
<!-- <input type="text" (change)="search($event)" (model)="(selectedAddress)" /> -->
<!-- <div style="position: relative;">
          <input type="text"
            debounce="500"
            (Change)=""
            [value]="selectedAddress"/>
          <div style="position: absolute; width: 100%; z-index: 999;">
            <list lines="none" *ngIf="addresses.length > 0">
              <item
                button
                *ngFor="let address of addresses"
                (click)="onSelect(address)"
              >
                <icon name="pin"><icon>
                {{ address }}
              </item>
            <list>
          </div>
        </div> -->
