<button (click)="navigatepostfooditem()"></button>

<div id="root">
  <div class="container_c10n0zc9">
    <!-- <div class="imagealignleft">
      <img
        src="https://img.pngio.com/three-cheese-caulipower-pizza-cheesy-pizza-png-600_600.png"
        alt="Italian Trulli"
        width="23%"
        height="23%"
      />
    </div> -->

    <div class="content_c1f5g3xo">
      <div class="wrapper_w73qwpb">
        <div class="contentInner_czc1r2f">
          <div class="examples_e1ame48d">
            <div class="header_h10748mp">
              <h1 class="title_tux72uk">Explore</h1>
              <div class="descriptionAndSearch_d111ftta">
                <input class="search_s1kctt7n" placeholder="Search" />
              </div>
            </div>
            <div *ngFor="let shopdetail of foodPosts">
              <div class="categories_c3ricqe">
                <div class="fullRow_f10r15cc">
                  <a class="featuredCard_fpot1f9">
                    <div
                      class="featuredImage_fd8tp8u"
                      style="background: rgb(14, 152, 255)"
                    >
                      <img [src]="shopdetail.imageUrls[0]" />
                    </div>
                    <div class="featuredStrings_fuyir49">
                      <!-- <div class="featuredSubtitle_f1f83cap">
                        Magic Motion
                      </div> -->
                      <div class="featuredTitle_f1n7hmrn">
                        <h3 class="title">{{ shopdetail.shopName }}</h3>
                      </div>
                    </div></a
                  >
                </div>
              </div>
            </div>
            <h5 class="heading">upto date</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
