<!-- 
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu"
      rel="stylesheet"
    /> -->
<div class="container" id="deviceready">
  <!-- <img src="https://picsum.photos/375/787" alt="" class="image" />
  <button class="icon -back">
    <i class="fas fa-chevron-left"></i>
  </button> -->
  <!-- Header -->
  <div class="header">
    <h1 class="title">Discover</h1>
    <button class="icon -plus"></button>
    <button class="icon -grid">
      <i class="large material-icons adjusthomelogo"> person</i>
    </button>
    <!--     Search -->
    <label for="" class="search">
      <i class="large material-icons adjusthomelogo"> search</i>

      <input type="text" value="" placeholder="Search" class="input" />
    </label>
  </div>

  <!-- Grid -->

  <div *ngFor="let shopdetails of allshops">
    <div class="grid-card" (click)="navigate()">
      <figure class="grid">
        <img src="https://picsum.photos/400/207" alt="" class="image" />
        <figcaption class="caption">
          <h3 class="title">{{ shopdetails.shopName }}</h3>
        </figcaption>
      </figure>
    </div>
  </div>

  <h5 class="heading">upto date</h5>
</div>
